Checks: '-*,boost-*,clang-analyzer-*,google-*,misc-*,modernize-*,performance-*,readability-*,-readability-magic-numbers,-modernize-use-nodiscard'
CheckOptions:
- { key: readability-implicit-bool-conversion.AllowPointerConditions,                                 value: 1 }
- { key: misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables, value: 1 }
- { key: readability-identifier-naming.ClassCase,           value: CamelCase  }
- { key: readability-identifier-naming.FunctionCase,        value: camelBack  }
- { key: readability-identifier-naming.GlobalConstantCase,  value: UPPER_CASE }
- { key: readability-identifier-naming.NamespaceCase,       value: lower_case }
- { key: readability-identifier-naming.ParameterCase,       value: lower_case }
- { key: readability-identifier-naming.PrivateMemberPrefix, value: m_         }
- { key: readability-identifier-naming.PublicMemberCase,    value: lower_case }
- { key: readability-identifier-naming.StructCase,          value: CamelCase  }
- { key: readability-identifier-naming.VariableCase,        value: lower_case }
