[submodule "lib/rapidxml"]
	path = external/rapidxml
	url = https://github.com/gurka/rapidxml-fork.git
[submodule "lib/googletest"]
	path = external/googletest
	url = https://github.com:google/googletest.git
[submodule "tools/google-styleguide"]
	path = tools/google-styleguide
	url = https://github.com:google/styleguide.git
