[submodule "lib/rapidxml"]
	path = lib/rapidxml
	url = git@github.com:gurka/rapidxml-fork.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
[submodule "tools/google-styleguide"]
	path = tools/google-styleguide
	url = git@github.com:google/styleguide.git
