[submodule "lib/rapidxml"]
	path = external/rapidxml
	url = https://github.com/gurka/rapidxml-fork.git
[submodule "lib/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/websocketpp"]
	path = external/websocketpp
	url = https://github.com/gurka/websocketpp.git
